{% extends 'base.html' %}
{% load humanize %}
{% block content %}
<div class="container">
    <div class="col-md-8 col-sm-12 mt-5">
       <div class="card">
           <div class="card-header">
            <div class="card-img-top">
                <img src="/media/{{ data.cover_photo }}" alt="">
            </div>
           </div>
           <div class="card-body">
                <p>{{data.description}}</p>
           </div>
           <div class="card-footer justify-content-between">
              <i class="mr-5">{{data.user.email}} </i>
              <i class="ml-5">{{data.user.first_name}} {{data.user.last_name}}</i>
           </div>
       </div>
    </div>
</div>
{% endblock %}