html, body{
    margin:0%;
    padding:0%
}

.container-fluid, .row{
    margin:0%;
    padding:0%;
    overflow:hidden;
}
.form-horizontal{
    width:100%;
}


.navigate-post a{
    font-size: 0.8em;
}

.footer-share{
    position:fixed;
    bottom: 40%;
    left:0%;
    height: auto;
    float:right;
    overflow: hidden;
    margin-left: 2px;
}

.footer-share .btn{
    border-radius: 50%;
    display: block;
    margin-top: 3px;
    /* border-left:0.6px solid black; */
}

#id_password, control-{
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.img-thumbnail{
    height:300px;
    width:100%;
}